.nav {
  background-color: #333;
  &__menu {
    width: 1200px;
    padding: 0px 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__link {
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    &--active {
      color: red;
    }
    &:hover {
      background-color: lighten(#333, 10%);
    }
  }
  &__logolink {
    margin-right: auto;
    &:hover {
      background-color: #333;
    }
  }
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px lightgrey;
  margin-bottom: 1em;
  &__check {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    background-color: transparent;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    font-size: 1.1em;
    &--checked {
      border-color: green;
    }
    & > * {
      margin: auto;
    }
  }
  &__text {
  }
  &__btn-delete {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    font-size: 1.1em;
    cursor: pointer;
    display: flex;
    & > * {
      margin: auto;
    }
  }
}

.plug {
  margin: 20px auto;
  color: lightgrey;
}
.todos {
  border-radius: 5px;
  padding: 20px;
  box-shadow: inset 0px 0px 4px lightgrey;
  height: 60vh;
  overflow-y: auto;
  background-color: rgba(245, 245, 245, 0.639);
}

.wrapper {
  width: 100px;
  width: 1000px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.form {
  display: flex;
  margin: 10px 0;
  &__input,
  &__btn {
    font-family: inherit;
    font-size: inherit;
  }
  &__input {
    width: 100%;
    padding: 10px;
    flex: 1;
    border-radius: 0;
    border: 1px solid lightgrey;
    position: relative;
    z-index: 4;
    &:focus {
      outline: 2px solid lightgrey;
    }
  }
  &__btn {
    width: 10%;
    min-width: 120px;
    border-radius: 0;
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    outline: none;
    border-left: none;
    padding: 15px;
  }
}
